@charset "UTF-8";
/* 2019 | Diseñado y desarrollado por Arévalo Luciana */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background: url(../img/fondo.png);
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 30px;
  width: 80%;
}

header .title h1 {
  color: #FFFFFF;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 50px;
  opacity: .75;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

header .title h1:before {
  background: #FFFFFF;
  content: "";
  height: 1.5px;
  left: 10%;
  margin-bottom: 25px;
  opacity: .5;
  position: absolute;
  top: -15px;
  width: 80%;
}

header .get-tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  margin-top: 50px;
}

header .get-tickets a {
  border: 1.5px solid #ffe81a;
  border-radius: 2rem;
  color: #FFFFFF;
  cursor: pointer;
  height: 45px;
  padding: .5rem 1rem;
  text-align: center;
  width: 190px;
}

main .slide-wrapper {
  margin-top: 100px;
}

main .slide-wrapper .slider .movie {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 0 auto;
  width: 90%;
}

main .slide-wrapper .slider .movie .text {
  color: #FFFFFF;
  margin: 30px auto;
  width: 90%;
}

main .slide-wrapper .slider .movie .text .number {
  color: #ffe81a;
  font-size: 2.25rem;
  font-weight: 700;
}

main .slide-wrapper .slider .movie .text .subtitle {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 10px;
}

main .slide-wrapper .slider .movie .text .title {
  font-size: 1.05rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main .slide-wrapper .slider .movie .text .data {
  font-size: 0.75rem;
  margin: 25px 0;
  opacity: 0.75;
}

main .slide-wrapper .slider .movie .text .synopsis {
  font-size: 0.9rem;
  line-height: 1.75;
}

main .slide-wrapper .slider .movie .text .synopsis span {
  font-weight: 700;
}

main .slide-wrapper .slider .movie .text .watch-trailer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffe81a;
  border-radius: 2rem;
  color: #1d1d1d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .95rem;
  font-weight: 700;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 1px;
  margin-top: 20px;
  text-transform: uppercase;
  width: 210px;
}

main .slide-wrapper .slider .movie .text .watch-trailer i {
  margin-right: 10px;
}

main .slide-wrapper .slider .movie .poster-wrapper {
  margin: -50px auto 0;
  width: 90%;
}

main .slide-wrapper .slider .movie .poster-wrapper .poster {
  border-radius: 1rem;
  overflow: hidden;
}

main .slide-wrapper .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px auto;
  width: 60%;
}

main .slide-wrapper .arrows button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 1.5rem;
  opacity: .75rem;
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  height: 90px;
}

footer a {
  color: #FFFFFF;
  padding: 0 10px;
}

footer p {
  color: #FFFFFF;
  font-size: 0.85rem;
  margin: 30px 0 50px;
}
/*# sourceMappingURL=estilos.css.map */