/* 2019 | Diseñado y desarrollado por Arévalo Luciana */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap')

// colores
$yellow: #ffe81a
$white: #FFFFFF
$grey: #1d1d1d

* 
    box-sizing: border-box
    margin: 0
    padding: 0

a
    text-decoration: none

img 
    max-width: 100%

body 
    background: url(../img/fondo.png)
    background-size: cover
    font-family: 'Open Sans', sans-serif 

header
    .logo
        display: flex
        justify-content: center
        margin: 50px auto 30px
        width: 80%

    .title
        h1 
            color: $white
            font-size: 0.75rem
            font-weight: 400
            letter-spacing: 1.5px
            margin-top: 50px
            opacity: .75
            position: relative
            text-align: center
            text-transform: uppercase

            &:before
                background: $white
                content: ""
                height: 1.5px
                left: 10%
                margin-bottom: 25px
                opacity: .5
                position: absolute
                top: -15px
                width: 80%

    .get-tickets 
        display: flex
        justify-content: center
        height: 50px
        margin-top: 50px

        a 
            border: 1.5px solid $yellow
            border-radius: 2rem
            color: $white
            cursor: pointer
            height: 45px
            padding: .5rem 1rem
            text-align: center
            width: 190px
        

main 
    .slide-wrapper
        margin-top: 100px

        .slider
            .movie
                background: rgba(255,255,255,.1)
                border-radius: 1rem 
                display: flex
                flex-direction: column-reverse
                margin: 0 auto 
                width: 90%

                .text
                    color: $white
                    margin: 30px auto 
                    width: 90%

                    .number
                        color: $yellow
                        font-size: 2.25rem
                        font-weight: 700

                    .subtitle
                        font-size: 0.75rem
                        font-weight: 600
                        letter-spacing: 1px
                        margin-top: 10px

                    .title
                        font-size: 1.05rem
                        font-weight: 700
                        letter-spacing: 1px
                        text-transform: uppercase

                    .data
                        font-size: 0.75rem
                        margin: 25px 0
                        opacity: 0.75

                    .synopsis
                        font-size: 0.9rem
                        line-height: 1.75

                        span
                            font-weight: 700

                    .watch-trailer
                        align-items: center
                        background-color: $yellow
                        border-radius: 2rem
                        color: $grey
                        display: flex 
                        font-size: .95rem
                        font-weight: 700
                        height: 40px
                        justify-content: center
                        letter-spacing: 1px
                        margin-top: 20px
                        text-transform: uppercase
                        width: 210px

                        i 
                            margin-right: 10px


                .poster-wrapper
                    margin: -50px auto 0
                    width: 90%

                    .poster
                        border-radius: 1rem
                        overflow: hidden

        .arrows
            display: flex 
            justify-content: space-between
            margin: 35px auto 
            width: 60%

            button
                background-color: transparent 
                border: none
                color: $white
                font-size: 1.5rem
                opacity: .75rem

        .indicators

footer 
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: 50px
    height: 90px

    a 
        color: $white
        padding: 0 10px
    
    p 
        color: $white
        font-size: 0.85rem
        margin: 30px 0 50px
